<div class="contentContainer">

  <ng-container *ngIf="products; else loader">
    <table class="table table-striped col-sm-12">
      <thead>
      <tr>
        <th>ProductDescription</th>
      </tr>
      </thead>
      <tbody>
      <tr *appNgFor="let product of products">
        <td
          [appProductsListStyling]="product"
          (currentProduct)="setProduct($event)"
        >{{product.ProductDescription}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>

<div class="contentContainer">
<table class="table table-striped" *ngIf="product">
  <thead>
  <tr>
    <th colspan="2">{{product.ProductDescription}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let key of productKeys">
    <td>{{key}}</td>
    <td>{{product[key] | nullCheck: key : product}}</td>
  </tr>

  </tbody>
</table>
  <mat-icon *ngIf="product" (click)="setProduct(null)" [ngStyle]="{float: 'right'}">close</mat-icon>
</div>
